h1 {
    font-weight: bold;
    color: #282c34; 
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
}

.hover-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.card {
    border: none; 
}
.bg-light-blue {
    background-color: #b3bbc1;
    color: #0b0c0c; 
}

.card h5 {
    font-weight: bold; 
    color: #343a40; 
}
